{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign current_variant_sale = false -%}
{% if current_variant.compare_at_price > current_variant.price %}
  {%- assign current_variant_sale = true -%}
{% endif %}
{% assign featured_media = current_variant.featured_media | default: product.featured_media %}
<div
  class="product-template"
  data-section-id="{{ section.id }}"
  data-section-type="product-template"
  data-variant-id="{{ current_variant.id }}"
>
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ featured_media | img_url: 'grande' }}">

  {% comment %}
    ------------------------------------------------------------------------------
    商品詳細
    ------------------------------------------------------------------------------
  {% endcomment %}

  <section class="section-lp section-lp--top-section">
    <div class="section-lp__wrapper">
      <div class="section-lp-product">
        <!-- ==== ギャラリー ==== -->
        <div class="product-gallery">
          <div
            style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
            class="swiper product-main-swiper"
          >
            <div class="swiper-wrapper">
              {% for media in product.media %}
                {% unless variant_media_ids contains media.id and section.settings.hide_variant_media %}
                  <div class="swiper-slide">
                    {% capture data_image %}
                  data-parent-fit="cover"
                  {% endcapture %}
                    {% include 'product-swiper-preview-image' with media,
                      featured_media: false,
                      gallery_type: 'submedia',
                      data_image: data_image
                    %}
                  </div>
                {% endunless %}
              {% endfor %}
            </div>
            <div class="product-main-swiper-button-next swiper-button-next"></div>
            <div class="product-main-swiper-button-prev swiper-button-prev"></div>
          </div>
          <div thumbsSlider="" class="swiper product-thumb-swiper">
            <div class="swiper-wrapper">
              {% for media in product.media %}
                {% unless variant_media_ids contains media.id and section.settings.hide_variant_media %}
                  <div class="swiper-slide">
                    {% capture data_image %}
                  data-parent-fit="cover"
                  {% endcapture %}
                    {% include 'product-swiper-preview-image' with media,
                      featured_media: false,
                      gallery_type: 'submedia',
                      data_image: data_image
                    %}
                  </div>
                {% endunless %}
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- ==== 商品詳細 ==== -->
        <div class="product-detail">
          <h1 class="section-product__title">
            <span>{{ product.title }}</span>
          </h1>
          <div class="section-product__pricebox">
            <div class="section-product__price" style="line-height: inherit;">
              <span class="product__sale-price-label visually-hidden">{{ 'products.product.sale_price' | t }}</span>
              <span class="product__regular-price-label visually-hidden">{{ 'products.product.price' | t }}</span>
              <span style="font-size: 3rem;font-weight: 700;"
                ><span style="font-size: 2rem;font-weight: 400;">Sサイズ：</span
                >¥9,300<span style="font-size: 1rem;font-weight: 400;">（税込）</span></span
              >
              <br>
              <span style="font-size: 3rem;font-weight: 700;"
                ><span style="font-size: 2rem;font-weight: 400;">Lサイズ：</span
                >¥13,900<span style="font-size: 1rem;font-weight: 400;">（税込）</span></span
              >

              <span class="product__compare-price-label visually-hidden">
                {{- 'products.product.regular_price' | t -}}
              </span>

              <s class="product__compare-price" data-compare-price>{{ current_variant.compare_at_price | money }}</s>
              {% include 'product-unit-price', variant: current_variant %}
              <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
              <link
                itemprop="availability"
                href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}"
              >
            </div>
          </div>

          {% render 'judgeme_widgets',
            widget_type: 'judgeme_preview_badge',
            jm_style: '',
            concierge_install: false,
            product: product
          %}
          <div class="section-box__content-right-bottom">
            <div class="section-product__detail">
              <div class="section-product__detail-text section-product__detail-text--emphasis">
                <span class="section-product__detail-icon section-product__detail-icon--amazon">
                  <img
                    height="20px"
                    src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/credit-card-regular_26eb9760-6699-4baa-9cf3-bd9073588d07.svg?v=1626230440"
                  >
                </span>
                Amazon Pay 対応
              </div>
            </div>

            <div class="section-product__description">
              洋服を50%圧縮するパッキングバッグとしても、身軽に動きたい時の軽量バッグとしても使える新アイテム。用途に合わせて使い分けできるSとLの2サイズがあります。長期撥水性の機能や止水ファスナー付き、丈夫で軽く、さまざまなシーンでご活用いただけます。
              「PackBag+」は、前作PackBagの1,200人を超える購入者様からいただいたお声をもとにデザイン・機能をアップデートした進化版です。
            </div>

            <div class="section-product__description">
              <div class="section-pulldown">
                <div class="section-pulldown__wrapper">
                  <div class="section-pulldown__label">本製品と前製品「PackBag」の違い</div>
                  <div class="section-pulldown__content">
                    <ol class="section-pulldown__ul">
                      <li class="section-pulldown__li">
                        <div class="section-pulldown__li-wrapper">
                          Sサイズはボディーバッグとしても、Lサイズはリュック/横ショルダーとしても使えるように
                        </div>
                      </li>
                      <li class="section-pulldown__li">
                        <div class="section-pulldown__li-wrapper">
                          本体カラーを2色追加し3色展開に。ストラップは新デザインが加わり5種類に
                        </div>
                      </li>
                      <li class="section-pulldown__li">
                        <div class="section-pulldown__li-wrapper">内側に小物ポケットを多数追加し、仕分けしやすく</div>
                      </li>
                      <li class="section-pulldown__li">
                        <div class="section-pulldown__li-wrapper">
                          バッグの内部を明るい色に。暗い場所でもモノを見つけやすく
                        </div>
                      </li>
                      <li class="section-pulldown__li">
                        <div class="section-pulldown__li-wrapper">
                          Sサイズのフロント面に止水ファスナーポケットを追加
                        </div>
                      </li>
                      <li class="section-pulldown__li">
                        <div class="section-pulldown__li-wrapper">
                          Lサイズの内側にある伸縮性メッシュポケット素材を強化
                        </div>
                      </li>
                      <li class="section-pulldown__li">
                        <div class="section-pulldown__li-wrapper">バッグ表面のネームタグのデザインを変更</div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-lp section-lp-gray">
    <div class="section-lp__wrapper section-lp__wrapper--wide">
      <header class="section-lp__header">
        <h2 class="section-lp__title">「PackBag+」とは</h2>
      </header>
      <div class="section-lp__description">
        世界を旅した”旅のプロ”が完全監修！<br>
        洋服を50%圧縮できて、リュックやショルダーバッグにもなる新アイテム
      </div>
      <div class="section-lp-product-description">
        <div class="description__items">
          <div class="description__area__item">
            <p class="description__area__item__text-pc">かさばる洋服の圧縮機能でコンパクトに</p>
            <p class="description__area__item__text-sp">洋服の圧縮機能</p>
            <img
              class="description__area__item__img"
              src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/img_pbp_packing.jpg?v=1652794128"
            >
          </div>
          <div class="description__area__item">
            <p class="description__area__item__text-pc">ストラップをつけてリュックやショルダーに</p>
            <p class="description__area__item__text-sp">リュック/ショルダーに</p>
            <img
              class="description__area__item__img"
              src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/img_pbp_bag.jpg?v=1652794128"
            >
          </div>

          <div class="description__area__item__cross">
            <span class="cross"></span>
          </div>
        </div>

        <div class="description__area__video">
          <video
            style="width: 100%;"
            src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pb_bf2.mp4?v=1652794148"
            muted=""
            autoplay=""
            playsinline=""
            loop=""
          ></video>
        </div>
      </div>
    </div>
  </section>

  <section class="section-lp">
    <div class="section-lp__wrapper section-lp__wrapper--wide">
      <header class="section-lp__header">
        <h2 class="section-lp__title">PackBag+の特徴</h2>
      </header>

      <div
        class="section-lp__sub-header"
        style="background-image: url(https://cdn.shopify.com/s/files/1/0474/9662/6339/files/scene-header_1_1ddcf577-f324-43c1-92d6-093aa5a55e3b.png?v=1647332880);"
      >
        <div class="section-lp__sub-header-title">圧縮パッキングバッグとして</div>
      </div>

      <div class="section-lp-features">
        <article class="feature feature--odd">
          <div class="feature__head">
            <div class="feature__head__num">01</div>
            <h3 class="feature__head__title">ファスナーで楽々50％圧縮</h3>
          </div>
          <div class="feature__content">
            <div class="feature__content__img">
              <img
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_feature_compression230620.jpg?v=1687840320"
                alt="ファスナーで楽々50％圧縮"
              >
            </div>
            <div class="feature__content__txt">
              洋服など、かさばる荷物を最大50%圧縮。カバンの中をコンパクトにまとめることができます。圧縮はファスナーをクルっと一周閉めるだけ。力もいらず簡単です。
            </div>
          </div>
        </article>

        <article class="feature feature--even">
          <div class="feature__head">
            <div class="feature__head__num">02</div>
            <h3 class="feature__head__title">荷物を分けて入れられる2部屋構造</h3>
          </div>
          <div class="feature__content">
            <div class="feature__content__img">
              <img
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_feature_separate.png?v=1647324344"
                alt="2部屋構造で荷物を分けて入れられる"
              >
            </div>
            <div class="feature__content__txt">
              2部屋構造のため、着替えは片側に、着た服は逆側に入れていくことで、旅行中に仕分けながら収納できます。片側は止水ファスナーを採用。生地も撥水性があり、濡れた水着やタオル、汗をかいた服を入れても安心です。
            </div>
          </div>
        </article>

        <article class="feature feature--odd">
          <div class="feature__head">
            <div class="feature__head__num">03</div>
            <h3 class="feature__head__title">強靭性と軽量性の両立</h3>
          </div>
          <div class="feature__content">
            <div class="feature__content__img">
              <img
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_feature_tough-light.png?v=1647324344"
                alt="強靭性と軽量性の両立"
              >
            </div>
            <div class="feature__content__txt">
              通常ナイロンよりも圧倒的に強度が高く軽量な生地を採用することで、「壊れづらく丈夫」と「軽くて持ち歩きやすい」を両立。圧縮部分のファスナーには丈夫で壊れにくいYKK製ダブルファスナーを採用しました。
            </div>
          </div>
        </article>
      </div>

      <div
        class="section-lp__sub-header"
        style="background-image: url(https://cdn.shopify.com/s/files/1/0474/9662/6339/files/scene-header_2_11168a6e-8814-4dec-ac5c-750188dee9ef.png?v=1647332880);"
      >
        <div class="section-lp__sub-header-title">ショルダー・リュックとして</div>
      </div>

      <div class="section-lp-features">
        <article class="feature feature--odd">
          <div class="feature__head">
            <div class="feature__head__num">01</div>
            <h3 class="feature__head__title">付属ストラップで様々な形態のバッグに</h3>
          </div>
          <div class="feature__content">
            <div class="feature__content__img">
              <img
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_feature_5waybag.png?v=1647324343"
                alt="そのときのスタイルに合わせたバッグに変身"
              >
            </div>
            <div class="feature__content__txt">
              Sサイズはショルダーバッグ、ボディーバッグに。<br>
              Lサイズはストラップ1本で肩掛けのトートバッグ、背中で背負うメッセンジャーバッグに、ストラップ2本でリュックとしても使えます。
            </div>
          </div>
        </article>

        <article class="feature feature--even">
          <div class="feature__head">
            <div class="feature__head__num">02</div>
            <h3 class="feature__head__title">用途に合わせ使い分けしやすい2サイズ</h3>
          </div>
          <div class="feature__content">
            <div class="feature__content__img">
              <img
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_feature_size.png?v=1647324343"
                alt="用途に合わせて使いやすいサイズ感"
              >
            </div>
            <div class="feature__content__txt">
              Sサイズは、財布、鍵、本、ペットボトルなどが同時に入り、街歩きにぴったり。Lサイズは、13インチのPCと充電ケーブル、ノート、小物類などの収納が可能。カフェでのリモートワークにも便利です。
            </div>
          </div>
        </article>

        <article class="feature feature--odd">
          <div class="feature__head">
            <div class="feature__head__num">03</div>
            <h3 class="feature__head__title">雨でも中身が濡れない撥水仕様</h3>
          </div>
          <div class="feature__content">
            <div class="feature__content__img">
              <video
                style="width: 100%;"
                src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_waterpppf.mp4?v=1647332685"
                muted=""
                autoplay=""
                playsinline=""
                loop=""
              ></video>
            </div>
            <div class="feature__content__txt">
              長期間撥水性が保たれる生地と、止水ファスナー（片側）を採用しているため、移動中や旅先で急な雨にあっても、大事なバッグの中身を守ることができます。
            </div>
          </div>
        </article>

        <article class="feature feature--even">
          <div class="feature__head">
            <div class="feature__head__num">04</div>
            <h3 class="feature__head__title">豊富なデザインバリエーション</h3>
          </div>
          <div class="feature__content">
            <div class="feature__content__img">
              <img
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_feature_variousdesign.png?v=1647324344"
                alt="豊富なデザインバリエーション"
              >
            </div>
            <div class="feature__content__txt">
              バッグ本体は「メタルブラック」「アースグレー」「エターナルホワイト」の3色、ストラップは5種類の中から、好きな組み合わせが選べます。
            </div>
          </div>
        </article>

        <article class="feature feature--odd">
          <div class="feature__head">
            <div class="feature__head__num">05</div>
            <h3 class="feature__head__title">小物が見つけやすいオーガナイザーポケット</h3>
          </div>
          <div class="feature__content">
            <div class="feature__content__img">
              <img
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_feature_pocket.png?v=1647324343"
                alt="小物が見つけやすいオーガナイザーポケット"
              >
            </div>
            <div class="feature__content__txt">
              小物を入れる内側ポケットが、Sサイズに5つ、Lサイズに4つあります。ファスナー付きのポケットもあり、アクセサリーやスマホのSIMなど無くしやすい小物が収納できます。
            </div>
          </div>
        </article>
      </div>

      <div
        class="section-lp__sub-header"
        style="background-image: url(https://cdn.shopify.com/s/files/1/0474/9662/6339/files/scene-header_3_0b1fc80e-0443-4135-b5ff-fb1f8ab59d98.png?v=1647332880);"
      >
        <div class="section-lp__sub-header-title">こだわりの高級・高性能生地「シルナイロン コーデュラ®」</div>
      </div>

      <div class="section-lp-features">
        <article class="feature feature--odd">
          <div class="feature__head" style="flex-direction: column;margin-bottom:40px;">
            <h3 class="feature__head__title">さわって驚く、想像以上に軽くて気持ち良い質感</h3>
          </div>
          <div class="feature__content">
            <div class="feature__content__img">
              <video
                style="width: 100%;"
                src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_fabric.mp4?v=1647332685"
                muted=""
                autoplay=""
                playsinline=""
                loop=""
              ></video>
            </div>
            <div class="feature__content__txt">
              米軍も採用するほどの圧倒的強度を持つコーデュラ®︎ナイロン。その中でも軽さに特化した種類を使用し、丈夫なだけでなく、非常に軽量です。PackBag+では、さらにシリコンコーティングした「シルナイロン
              コーデュラ®︎」を使用しているため、撥水性が長期間保たれます。入手困難かつ高価な素材で、通常バッグなどに使われることは少ないですが、今回は理想のアイテムを追求し採用することになりました。
              その質感には、購入者から驚きの声が多数寄せられています。
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section class="section-lp section-lp-gray">
    <div class="section-lp__wrapper section-lp__wrapper--wide">
      <header class="section-lp__header">
        <h2 class="section-lp__title">PackBag+の利用シーン</h2>
      </header>
      <div class="section-lp-features section-lp-features--pulldown">
        <div class="box-col-2">
          <article class="feature feature--odd">
            <div class="feature__head feature__head--pulldown">
              <h3
                class="feature__head__title"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_scene-01.png?v=1647324343);"
              >
                子供と公園
              </h3>
            </div>
            <div class="feature__content">
              <div class="feature__content__txt">
                着替えを持っていき、汚れた服と分けて管理するのに最適。子供を追いかける時に身に着けておくバッグとしても、水や砂に強いので安心です。
              </div>
            </div>
          </article>
          <article class="feature feature--odd">
            <div class="feature__head feature__head--pulldown">
              <h3
                class="feature__head__title"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_scene-02.png?v=1647324343);"
              >
                旅行・ワーケーション
              </h3>
            </div>
            <div class="feature__content">
              <div class="feature__content__txt">
                移動中は洋服を圧縮パッキング。ホテル到着後は荷物を貴重品に入れ替えてサブバッグに。
              </div>
            </div>
          </article>
        </div>
        <div class="box-col-2">
          <article class="feature feature--odd">
            <div class="feature__head feature__head--pulldown">
              <h3
                class="feature__head__title"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_scene-03.png?v=1647324343);"
              >
                海
              </h3>
            </div>
            <div class="feature__content">
              <div class="feature__content__txt">
                水着、タオル、日焼け止め、財布などにちょうどよいサイズ感。濡れた水着と他の荷物を分けて持って帰ってこれます。
              </div>
            </div>
          </article>
          <article class="feature feature--odd">
            <div class="feature__head feature__head--pulldown">
              <h3
                class="feature__head__title"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_scene-04.png?v=1647324343);"
              >
                温泉・銭湯
              </h3>
            </div>
            <div class="feature__content">
              <div class="feature__content__txt">
                下駄箱の鍵や着替え、タオルなど意外と荷物が多くなるシーンでも、バッグに入れれば両手が空きます。使用後のタオルは止水ファスナー側へ。
              </div>
            </div>
          </article>
        </div>
        <div class="box-col-2">
          <article class="feature feature--odd">
            <div class="feature__head feature__head--pulldown">
              <h3
                class="feature__head__title"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_scene-05.png?v=1647324343);"
              >
                出張
              </h3>
            </div>
            <div class="feature__content">
              <div class="feature__content__txt">
                荷物が増えやすい出張も洋服を圧縮パッキングしておけばスッキリ。ホテル近くの飲食店へはSサイズに貴重品を入れて身軽に行けます。
              </div>
            </div>
          </article>
          <article class="feature feature--odd">
            <div class="feature__head feature__head--pulldown">
              <h3
                class="feature__head__title"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_scene-06.png?v=1647324343);"
              >
                ジム・サウナ
              </h3>
            </div>
            <div class="feature__content">
              <div class="feature__content__txt">
                行きはウェアをコンパクトに圧縮、帰りは汗やシャワーで濡れた服と他の荷物を分けて入れられます。
              </div>
            </div>
          </article>
        </div>
        <div class="box-col-2">
          <article class="feature feature--odd">
            <div class="feature__head feature__head--pulldown">
              <h3
                class="feature__head__title"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_scene-07.png?v=1647324343);"
              >
                キャンプ
              </h3>
            </div>
            <div class="feature__content">
              <div class="feature__content__txt">
                着替えやタオルを圧縮して持参。テントとシャワーの移動もこれ一つ。急な雨でも多少なら問題ありません。
              </div>
            </div>
          </article>
          <article class="feature feature--odd">
            <div class="feature__head feature__head--pulldown">
              <h3
                class="feature__head__title"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_scene-08.png?v=1647324343);"
              >
                登山
              </h3>
            </div>
            <div class="feature__content">
              <div class="feature__content__txt">
                気候や体温の変化に合わせて脱ぎ着するウェアをコンパクトに収納。より身軽にハイキングを楽しめます。
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  {% comment %}
    ------------------------------------------------------------------------------
    カラー・デザインバリエーション
    ------------------------------------------------------------------------------
  {% endcomment %}

  <section class="section-lp">
    <div class="section-lp__wrapper section-lp__wrapper--wide">
      <header class="section-lp__header">
        <h2 class="section-lp__title">カラー・デザインバリエーション</h2>
      </header>
      <div class="section-lp__description color-43434e">
        <b
          >SサイズとLサイズのそれぞれで、<br>
          3つの本体カラー、5種類のストラップから組み合わせを選べます</b
        >
      </div>
      <div class="section-lp-varietions">
        <div class="section-lp-varietions__header">
          <span class="section-lp-varietions__title">バッグ本体カラー</span>
        </div>
        <div class="section-lp-varietions__wrapper">
          <div class="section-lp-varietions__varietion">
            <div class="section-lp-varietions__varietion-title">メタルブラック</div>
            <div class="section-lp-varietions__varietion-image">
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_black.png?v=1647324343">
            </div>
            <div class="section-lp-varietions__varietion-text">
              旅、移動はもちろん仕事でも。シーンを選ばず、どんな服装・スタイルにも合わせやすい定番カラー
            </div>
          </div>
          <div class="section-lp-varietions__varietion">
            <div class="section-lp-varietions__varietion-title">アースグレー</div>
            <div class="section-lp-varietions__varietion-image">
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_gray_652x546-min.jpg?v=1694419336">
            </div>
            <div class="section-lp-varietions__varietion-text">
              カーキ×グレーのようなカラーで、砂ぼこりがついても目立たないため、キャンプや海などで大活躍
            </div>
          </div>
          <div class="section-lp-varietions__varietion">
            <div class="section-lp-varietions__varietion-title">エターナルホワイト</div>
            <div class="section-lp-varietions__varietion-image">
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_white_652x546-min.jpg?v=1694419336">
            </div>
            <div class="section-lp-varietions__varietion-text">
              明るい色も欲しいという声から生まれたカラー。汚れても落ちやすい生地に黄変の耐性加工で耐久性も◎
            </div>
          </div>
        </div>
      </div>

      <div class="section-lp-varietions">
        <div class="section-lp-varietions__header">
          <span class="section-lp-varietions__title">ショルダーストラップデザイン</span>
        </div>
        <div class="section-lp-varietions__wrapper">
          <div class="section-lp-varietions__varietion">
            <div class="section-lp-varietions__varietion-title">1. Plain Black</div>
            <div class="section-lp-varietions__varietion-image">
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_plainblack.png?v=1647324344">
            </div>
            <div class="section-lp-varietions__varietion-text">ビジネス寄りの場面でも使いやすいシンプルなデザイン</div>
          </div>
          <div class="section-lp-varietions__varietion">
            <div class="section-lp-varietions__varietion-title">2. Five Continents</div>
            <div class="section-lp-varietions__varietion-image">
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/fivecontinents_392fb22d-faf9-44a1-aff9-b1c47785773f.png?v=1647500808">
            </div>
            <div class="section-lp-varietions__varietion-text">世界の5大陸を抽象化して図形にしたデザイン</div>
          </div>
          <div class="section-lp-varietions__varietion">
            <div class="section-lp-varietions__varietion-title">3. All Flags</div>
            <div class="section-lp-varietions__varietion-image">
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_allflags2.png?v=1647500808">
            </div>
            <div class="section-lp-varietions__varietion-text">
              世界の国々が繋がっていく願いを込めた万国旗柄のデザイン
            </div>
          </div>
          <div class="section-lp-varietions__varietion">
            <div class="section-lp-varietions__varietion-title">4. Honey Comb</div>
            <div class="section-lp-varietions__varietion-image">
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/honeycomb_ef2b878a-662a-498c-bf82-0833bd0ed5c2.png?v=1647500808">
            </div>
            <div class="section-lp-varietions__varietion-text">
              強さとしなやかさを併せ持つハニカム構造をモチーフにしたデザイン
            </div>
          </div>
          <div class="section-lp-varietions__varietion">
            <div class="section-lp-varietions__varietion-title">5. Marble Sky</div>
            <div class="section-lp-varietions__varietion-image">
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/marblesky_231009.jpg?v=1697439751">
            </div>
            <div class="section-lp-varietions__varietion-text">
              多様な働き方や価値観の違いを、様々な表情を見せる空にリンクさせ絵画調で表現したデザイン
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% comment %}
    ------------------------------------------------------------------------------
    サイズ・仕様
    ------------------------------------------------------------------------------
  {% endcomment %}

  <section class="section-lp  section-lp-gray">
    <div class="section-lp__wrapper section-lp__wrapper--wide">
      <header class="section-lp__header">
        <h2 class="section-lp__title">製品仕様</h2>
      </header>

      <div class="section-lp-size">
        <div class="box">
          <div class="box__img">
            <img
              class="lazyload"
              data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/PackBag_detail.jpg?v=1676898232"
              alt="packbag+"
            >
          </div>
          <div class="box__txt">
            <table class="product-size-table">
              <tr class="product-size-table__tr">
                <th class="product-size-table__th"></th>
                <th class="product-size-table__th">Sサイズ</th>
                <th class="product-size-table__th">Lサイズ</th>
              </tr>
              <tr class="product-size-table__tr">
                <th class="product-size-table__th">サイズ</th>
                <td class="product-size-table__td">24.5cm × 18cm</td>
                <td class="product-size-table__td">36cm × 25.5cm</td>
              </tr>
              <tr class="product-size-table__tr">
                <th class="product-size-table__th">重さ</th>
                <td class="product-size-table__td">156g</td>
                <td class="product-size-table__td">210g</td>
              </tr>
              <tr class="product-size-table__tr">
                <th class="product-size-table__th">容量</th>
                <td class="product-size-table__td">5リットル</td>
                <td class="product-size-table__td">10リットル</td>
              </tr>
              <tr class="product-size-table__tr">
                <th class="product-size-table__th">バッグ形態</th>
                <td class="product-size-table__td">
                  ・ショルダーバッグ<br>
                  ・ボディーバッグ
                </td>
                <td class="product-size-table__td">
                  ・リュック<br>
                  ・メッセンジャー<br>
                  ・ショルダーバッグ<br>
                  ・トートバッグ
                </td>
              </tr>
              <tr class="product-size-table__tr">
                <th class="product-size-table__th">素材</th>
                <td class="product-size-table__td" colspan="2">
                  表地：CODURA® Ultralite<br>
                  （シリコンコーティング）<br>
                  裏地：ナイロン (撥水性)<br>
                  圧縮部：YKK製ダブルファスナー<br>
                  小物ポケット：中国製ファスナー
                </td>
              </tr>
              <tr class="product-size-table__tr">
                <th class="product-size-table__th">生産国</th>
                <td class="product-size-table__td" colspan="2">
                  中国（大手ブランドのカバン製造でも多数実績のある精鋭工場で生産）
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="section-lp-size">
        <div class="box">
          <div class="box__img">
            <img
              class="lazyload"
              data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_specification_strap.png?v=1647324344"
              alt="ショルダーストラップ"
            >
          </div>
          <div class="box__txt">
            <table class="product-size-table">
              <tr class="product-size-table__tr">
                <th class="product-size-table__th"></th>
                <th class="product-size-table__th">ショルダーストラップ</th>
              </tr>
              <tr class="product-size-table__tr">
                <th class="product-size-table__th">長さ</th>
                <td class="product-size-table__td">69cm (最短) ~ 122cm (最長)</td>
              </tr>
              <tr class="product-size-table__tr">
                <th class="product-size-table__th">幅</th>
                <td class="product-size-table__td">3cm</td>
              </tr>
              <tr class="product-size-table__tr">
                <th class="product-size-table__th">重さ</th>
                <td class="product-size-table__td">55g</td>
              </tr>
              <tr class="product-size-table__tr">
                <th class="product-size-table__th">素材</th>
                <td class="product-size-table__td">ポリエステル</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      {% comment %} {% include 'product-section-content-guarantee' %} {% endcomment %}
    </div>
  </section>

  {% comment %}
    ------------------------------------------------------------------------------
    開発ストーリー
    ------------------------------------------------------------------------------
  {% endcomment %}

  <section class="section-lp">
    <div class="section-lp__wrapper section-lp__wrapper--wide">
      <header class="section-lp__header">
        <h2 class="section-lp__title">開発ストーリー</h2>
      </header>

      <div class="section-lp__description">
        <b
          >荷物を減らしたほうが、楽しみは増える。<br>
          PackBag+ができるまで</b
        >
      </div>

      <div class="section-lp-story">
        <div class="story-description">
          <p>
            世界一周経験者が半数の旅好きの社員達からまず聞こえてきた悩みは、「ミニマルに移動したい」。そこで、旅とは切っても切り離せない荷物に着目。<br>
            圧縮ができて長く使えるもの、そして圧縮だけでなくカバンにもなるという機能変化の視点からも省スペースを考え、ショルダーバッグとしても使える圧縮パックバッグの“初代PackBag”が完成しました。
          </p>

          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_story_bw.jpg?v=1647324344"
            alt="開発ストーリー"
          >

          <p>
            販売開始後、1,200人ものお客様にご購入いただき喜んでいただきましたが、使う中で出てきた改善してほしい点などをお聞きした結果、「リュックにもなればなあ…」「女性も使える色が欲しい」など、多くの声が集まりました。
          </p>
          <p>
            このようなたくさんの声を反映し、性能もデザインのバリエーションも大幅にバージョンアップして、ついにショルダーにもリュックにもなる超圧縮バッグの進化版PackBag+が完成しました。
          </p>
        </div>
      </div>
    </div>
  </section>

  {% comment %}
    ------------------------------------------------------------------------------
    HOLICCについて
    ------------------------------------------------------------------------------
  {% endcomment %}

  <section class="section-lp section-lp-gray">
    {% include 'product-section-content-about-holicc' %}
    {% include 'product-section-content-guarantee' %}
  </section>

  {% comment %}
    ------------------------------------------------------------------------------
    商品購入フォーム
    ------------------------------------------------------------------------------
  {% endcomment %}

  <section class="section-cta section-lp" id="fixed-scroll-end">
    <div class="section-cta__wrapper section-lp__wrapper">
      <div class="section-cta__product">
        <div class="section-cta__product-meta-wrapper">
          <div class="section-cta__product-meta">
            <div class="section-cta__product-meta-caption">
              <div class="section-cta__product-meta-title">
                {{ product.title }}
              </div>
              <div class="section-cta__product-meta-price">
                <span class="section-cta__product-meta-price-number product__current-price money" data-regular-price>
                  {{- current_variant.price | money -}}
                </span>
                <span class="section-cta__product-meta-price-tax">(税込)</span>
              </div>
            </div>
            <div class="section-cta__product-meta-subcaption">
              size：S/L | color：<span class="circle circle--black"></span><span class="circle circle--gray"></span
              ><span class="circle circle--white"></span>
            </div>
          </div>
          <div class="section-cta__product-image">
            <div class="">
              <img
                id="section-cta__product-image-main"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pbplus_ssize-cart-product.png?v=1647913710"
              >
            </div>
          </div>
        </div>
        <div class="section-cta__product-meta2">
          <div class="section-cta__product-tags">
            <div class="section-cta__product-tag section-cta__product-tag--delivery">
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/icon_shipping.png?v=1635217307">
              {% if current_variant.price >= 1000000 %}
                送料無料
              {% else %}
                1万円未満のご購入は送料¥500(沖縄県は¥1500)
              {% endif %}
            </div>
            <div class="section-cta__product-tag">
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/icon_box.png?v=1635217307"
              >通常1営業日で発送
            </div>
            <div class="section-cta__product-tag">
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/icon_payment.png?v=1635217307">AmazonPay
              対応
            </div>
          </div>
          <div class="section-cta__line">
            <div class="section-cta__line-wrapper">
              <div class="section-cta__line-text">
                <div class="section-cta__line-caption">
                  友だち追加&30秒アンケートで<br>
                  お得な<span class="section-cta__line-caption--emp">500円クーポンGET</span>
                </div>
              </div>
              <a class="section-cta__line-btn" href="https://line.me/R/ti/p/%40027gciii" target="_blank"
                >LINE友だち追加</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="section-cta__form">
        {% include 'product-form-cta' %}
        <div class="section-cta__annotation">
          <!--
            <div>
              SサイズとLサイズを両方セットでお求めの方は、<a href="https://holicc.jp/products/packbagplus-set">こちらのページ<img width="16px" src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/external-link.png?v=1645534188"></a>からご購入ください。セット購入による割引が適用されます。
            </div>
          -->
          {% if product.metafields.my_fields.is_gift_wrapping %}
            <div class="section-pulldown">
              <div class="section-pulldown__wrapper">
                <div class="section-pulldown__label">ギフトラッピングをご希望の方へ</div>
                <div class="section-pulldown__content">
                  この商品はギフトラッピング可能です。ご希望の場合は、本商品をカートに入れたのち、カートページに表示される「ギフトラッピングをする」より、ギフトラッピングをカートに入れて購入手続きへ進んでください。
                </div>
              </div>
            </div>
          {% else %}
            ※この商品はギフトラッピング対象外です
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <div id="variant-images" style="display: none;">
    {% for variant in product.variants %}
      <div class="" data-id="{{ variant.id }}" data-image="{{ variant.metafields.my_fields._image }}"></div>
    {% endfor %}
  </div>
  <div id="variant-images" style="display: none;">
    {% for variant in product.variants %}
      <div class="" data-id="{{ variant.id }}" data-image="{{ variant.metafields.my_fields._image }}"></div>
    {% endfor %}
  </div>

  <script>
    var productThumbSwiper = new Swiper('.product-thumb-swiper', {
      loop: true,
      spaceBetween: 10,
      slidesPerView: 6,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var productMainSwiper = new Swiper('.product-main-swiper', {
      speed: 100,
      loop: true,
      spaceBetween: 0,
      navigation: {
        nextEl: '.product-main-swiper-button-next',
        prevEl: '.product-main-swiper-button-prev',
      },
      thumbs: {
        swiper: productThumbSwiper,
      },
    });
    $('.section-pulldown__label').on('click', function () {
      var a = $(this).closest('.section-pulldown');
      if (a.hasClass('section-pulldown--open')) {
        a.removeClass('section-pulldown--open');
      } else {
        a.addClass('section-pulldown--open');
      }
    });

    $(document).on('click', '#NullsGiftWrapTitle', function () {
      var a = $('#NullsgiftWrap');
      if (a.prop('checked')) {
        a.prop('checked', false);
      } else {
        a.prop('checked', true);
      }
    });
    $(document).on('click', '.bcpo-front-image-label,.bcpo-front-color-label', function () {
      setTimeout(function () {
        var id = $('#bcpo-select').val();
        var image = $('#variant-images [data-id=' + id + ']').data('image');
        $('#section-cta__product-image-main').prop('src', image);
      }, 1);
    });
  </script>

  <section class="section-lp ">
    <div class="wrapper" style="max-width: 980px; margin: 0 auto;">
      {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
    </div>
  </section>

  {% comment %}
    ------------------------------------------------------------------------------
    よくあるご質問
    ------------------------------------------------------------------------------
  {% endcomment %}

  <section class="section-lp">
    <div class="section-lp__wrapper">
      <header class="section-lp__header">
        <h2 class="section-lp__title">よくある質問</h2>
      </header>

      <div class="section-lp-qa">
        <ul class="qa-list">
          <li>
            <div class="q">支払い方法を教えてください。</div>
            <div class="a">お支払いは、クレジットカード決済、Amazon Pay決済、Paidy後払いからお選びいただけます。</div>
          </li>
          <li>
            <div class="q">送料はいくらかかりますか？</div>
            <div class="a">
              全国一律500円（但し、沖縄県は1,500円）です。<br>
              また、一度のご購入金額が10,000円以上の場合、送料無料となります。
            </div>
          </li>
          <li>
            <div class="q">配送の日時指定はできますか？</div>
            <div class="a">
              できます。カート内「ショップへの伝言メモ」に記載ください。最速日時以前のご指定は通常の最速で配送となり、時間帯指定は前後2時間程ずれる場合があります。ご了承下さい。
            </div>
          </li>
          <li>
            <div class="q">返品・交換はできますか？</div>
            <div class="a">未使用に限り、商品到着から7日以内にご返送いただければ返品・交換を承ります。</div>
          </li>
          <li>
            <div class="q">注文後、どれくらいで届きますか？</div>
            <div class="a">
              平日は10時までにご注文いただければ、即日発送いたします。平日10時以降と土・日・祝日、またお盆・年末年始等の長期休暇期間のご注文は翌営業日発送となります。
            </div>
          </li>
          <li>
            <div class="q">ギフト用のラッピングはできますか？</div>
            <div class="a">
              有料（500円）にて承ります。ギフトラッピングをご希望の方は商品をカートに入れたのち、カートページに表示される「ギフトラッピングをする」より、ギフトラッピングをカートに入れて購入手続きへ進んでください。。
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  {% comment %}
    旧 Q and A
    <section class="section_qa-area">
      <header class="section-box__header">
        <h3 class="section-box_line_title">よくあるご質問</h3>
      </header>
      <div class="wrapper">
        <div class="flex_line">
          <div class="box">
            <p class="ques">支払い方法を教えてください</p>
            <p class="ans">お支払いは、クレジットカード決済、Amazon Pay決済、Paidy後払いからお選びいただけます。</p>
          </div>
          <div class="box">
            <p class="ques">返品・交換はできますか？</p>
            <p class="ans">未使用に限り、商品到着から7日以内にご返送いただければ返品・交換を承ります。</p>
          </div>
        </div>
        <div class="flex_line">
          <div class="box">
            <p class="ques">送料はいくらかかりますか？</p>
            <p class="ans">
              全国一律500円（但し、沖縄県は1,500円）です。また、一度のご購入金額が10,000円以上の場合、送料無料となります。
            </p>
          </div>
          <div class="box">
            <p class="ques">注文後、どれくらいで届きますか？</p>
            <p class="ans">
              平日は10時までにご注文いただければ、即日発送いたします。平日10時以降と土・日・祝日、またお盆・年末年始等の長期休暇期間のご注文は翌営業日発送となります。
            </p>
          </div>
        </div>
        <div class="flex_line">
          <div class="box">
            <p class="ques">配送の日時指定はできますか？</p>
            <p class="ans">
              できます。カート内「ショップへの伝言メモ」に記載ください。最速日時以前のご指定は通常の最速で配送となり、時間帯指定は前後2時間程ずれる場合があります。ご了承下さい。
            </p>
          </div>
          <div class="box">
            <p class="ques">ギフト用のラッピングはできますか？</p>
            <p class="ans">
              有料（500円）にて承ります。ギフトラッピングをご希望の方は商品をカートに入れたのち、カートページに表示される「ギフトラッピングをする」より、ギフトラッピングをカートに入れて購入手続きへ進んでください。
            </p>
          </div>
        </div>
      </div>
    </section>
  {% endcomment %}

  <div class="fixed-form active">
    <div class="fixed-form__header pc">
      <div class="fixed-form__title">
        {%- if product.metafields.custom['_fixed-banner-title'] != blank -%}
          {{ product.metafields.custom['_fixed-banner-title'] | newline_to_br }}
        {%- else -%}
          {{ product.title }}
        {%- endif -%}
      </div>

      <div class="fixed-form__price">
        <span class="product__sale-price-label visually-hidden">{{ 'products.product.sale_price' | t }}</span>
        <span class="product__regular-price-label visually-hidden">{{ 'products.product.price' | t }}</span>
        <span class="product__current-price" data-regular-price>{{ current_variant.price | money }}</span>

        <span class="product__compare-price-label visually-hidden">{{ 'products.product.regular_price' | t }}</span>
        <s class="product__compare-price" data-compare-price>{{ current_variant.compare_at_price | money }}</s>

        {% include 'product-unit-price', variant: current_variant %}
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
        <link
          itemprop="availability"
          href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}"
        >
        <span class="fixed-form__price-tax">(税込)</span>
      </div>
    </div>

    <div class="fixed-form__content">
      <a id="fixed-footer-btn" class="fixed-footer__btn section-btn proudct-purchase-link" href="#fixed-scroll-end">
        <span>購入にすすむ</span>
        <span class="fixed-footer__btn-arrow"
          ><img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/grey_122_arr_24.png?v=1614858713"
            width="15px"
        ></span>
      </a>
    </div>
  </div>

  <style>
    .section-lp-features--pulldown .feature__head__title {
      background-size: contain;
      background-repeat: no-repeat;
      line-height: 2 !important;
      padding-left: 50px;
    }
    .section-lp-features--pulldown .box-col-2 {
      display: block;
    }
    .section-lp-features--pulldown .box-col-2 .feature .feature__content .feature__content__txt {
      width: 100%;
    }
    .section-lp-features--pulldown .feature__content {
      display: none !important;
    }
    .section-lp-features--pulldown .feature.pulldown--open .feature__content {
      display: block !important;
    }
    @media (max-width: 768px) {
      .section-lp-features .box-col-2 .feature:first-child,
      .section-lp-features .box-col-2 .feature:last-child {
        padding-left: 0;
        padding-right: 0;
      }
      .section-lp-features .box-col-2 .feature .feature__content .feature__content__txt {
        margin-bottom: 30px;
      }
      .section-lp-features--pulldown .box-col-2 .feature {
        cursor: pointer;
        width: 100%;
      }
      .section-lp-features .box-col-2 {
        margin-top: 0;
      }
      .section-lp-features .box-col-2 .feature .feature__head .feature__head__title {
        font-size: 18px;
        font-weight: bold;
      }
    }
    @media (min-width: 769px) {
      .section-lp-features--pulldown .feature__head__title {
        padding-left: 60px;
      }
      .section-lp-features .feature .feature__head.feature__head--pulldown {
        justify-content: center;
      }
      .section-lp-features--pulldown .box-col-2 {
        display: flex;
      }
      .section-lp-features--pulldown .box-col-2 .feature {
        width: 50%;
      }
      .section-lp-features--pulldown .feature__content {
        display: block !important;
      }
    }
    .bndlr-products-container .bndlr-bundle-title {
      display: none;
    }
    .bndlr-products-container .bndlr-bundle-description {
      width: 100%;
    }
    .bndlr-products-container .bndlr-old-price.bndlr-money {
      display: none;
      text-decoration: none !important;
    }
    .bndlr-products-container .bndlr-product {
      border: none;
    }
    .bndlr-products-container .bndlr-total-price {
      display: none;
    }
    .bndlr-products-container .bndlr-new-price {
      display: none;
    }
    .bndlr-products-container .bndlr-product:not(:last-of-type)::after {
      background: #fff;
      color: #000;
    }
    .bndlr-products-container .bndlr-bundle-checkout-warning {
      display: none;
    }
    .bndlr-products-container .bndlr-add-to-cart {
      align-items: center;
      background-color: #000;
      border: none;
      border-radius: 5px;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: flex;
      font-size: 1.8rem;
      font-weight: 700;
      justify-content: center;
      letter-spacing: 2px;
      line-height: 2.2;
      padding: 10px 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      text-transform: inherit;
      vertical-align: middle;
      width: 100%;
      vertical-align: middle;
      z-index: 2;
    }
    @media (min-width: 769px) {
      .section_description .warranty .box .img_area {
        padding: 0 !important;
      }
    }

    .description__items {
      display: flex;
      margin-bottom: 40px;
      position: relative;
      gap: 40px;
    }
    .description__area__item {
      width: 50%;
    }
    .description__area__item p {
      text-align: center;
      color: #ffffff;
      background: #43434e;
      font-size: 18px;
      font-weight: 700;
      margin: 0;
      padding: 10px 0;
      letter-spacing: 0.1em;
    }
    .description__area__item__cross {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 40px;
      font-weight: 200;
      transform: translate(-50%, -50%);
    }
    .cross {
      display: inline-block;
      vertical-align: middle;
      color: #333;
      line-height: 1;
      width: 80px;
      height: 0.05em;
      background: currentColor;
      border-radius: 0.1em;
      position: relative;
      transform: rotate(45deg);
    }
    .cross::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: inherit;
      border-radius: inherit;
      transform: rotate(90deg);
    }
    .description__area__item__img {
      width: 100%;
    }
    .description__area__item__text-sp {
      display: none;
    }
    .description__area__video {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }
    @media (max-width: 768px) {
      .description__items {
        margin-bottom: 30px;
        gap: 20px;
      }
      .description__area__item p {
        font-size: 14px;
        letter-spacing: 0;
      }
      .description__area__item__text-pc {
        display: none;
      }
      .description__area__item__text-sp {
        display: block;
      }
      .cross {
        width: 50px;
        height: 0.03em;
      }
    }
  </style>
  <script>
    var sectionBoxSceneSwiper = new Swiper('.section-box-scene-swiper', {
      breakpoints: {
        769: {
          slidesPerView: 3,
        },
      },
      loop: true,
      navigation: {
        nextEl: '.section-box-scene-swiper-button-next',
        prevEl: '.section-box-scene-swiper-button-prev',
      },
      pagination: {
        el: '.section-box-scene-swiper-pagination',
        type: 'bullets',
      },
      slidesPerView: 1,
      spaceBetween: 0,
      speed: 100,
      watchSlidesProgress: true,
    });
    $(document).on('click', '#NullsGiftWrapTitle', function () {
      var a = $('#NullsgiftWrap');
      if (a.prop('checked')) {
        a.prop('checked', false);
      } else {
        a.prop('checked', true);
      }
    });
    $(function () {
      $('a[href^="#"]').click(function (e) {
        var href = $(this).attr('href');
        var target = $(href == '#' || href == '' ? 'html' : href);
        var position = target.offset().top;

        $.when(
          $('html, body').animate(
            {
              scrollTop: position,
            },
            400,
            'swing'
          ),
          e.preventDefault()
        ).done(function () {
          var diff = target.offset().top;
          if (diff === position) {
          } else {
            $('html, body').animate(
              {
                scrollTop: diff,
              },
              10,
              'swing'
            );
          }
        });
      });

      $(document).scroll(function () {
        var scrollStart = $('body').offset().top;
        var scrollEnd = $('#fixed-scroll-end').offset().top;
        var distance = 0;
        distance = $(this).scrollTop();
        if (scrollStart <= distance) {
          $('.fixed-footer').addClass('active');
        } else if (scrollStart >= distance) {
          $('.fixed-footer').removeClass('active');
        }

        if (scrollEnd <= distance) {
          $('.fixed-footer').addClass('none');
        } else {
          $('.fixed-footer').removeClass('none');
        }
      });

      $('.feature__head--pulldown').on('click', function () {
        var a = $(this).parent('.feature ');
        if (a.hasClass('pulldown--open')) {
          a.removeClass('pulldown--open');
        } else {
          a.addClass('pulldown--open');
        }
      });
    });
  </script>

  {% comment %}
    ------------------------------------------------------------------------------
    Product Data
    ------------------------------------------------------------------------------
  {% endcomment %}
  <script type="application/json" data-product-json>
    {{ product | json }}
  </script>

  <script type="application/json" data-model-json="{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
</div>

{% schema %}
{
  "name": {
    "cs": "Stránky produktu",
    "da": "Produktsider",
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fi": "Tuotesivut",
    "fr": "Pages de produits",
    "hi": "उत्पाद पेज",
    "it": "Pagine di prodotto",
    "ja": "商品ページ",
    "ko": "제품 페이지",
    "nb": "Produktsider",
    "nl": "Productpagina's",
    "pl": "Strony produktu",
    "pt-BR": "Páginas de produtos",
    "pt-PT": "Páginas de produtos",
    "sv": "Produktsidor",
    "th": "หน้าสินค้า",
    "tr": "Ürün sayfaları",
    "vi": "Trang sản phẩm",
    "zh-CN": "产品页面",
    "zh-TW": "產品頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "cs": "Zobrazit výběr množství",
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "hi": "मात्रा चयनकर्ता दिखाएं",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pl": "Pokaż selektor ilości",
        "pt-BR": "Exiba um seletor de quantidade",
        "pt-PT": "Mostrar seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกจำนวน",
        "tr": "Adet seçiciyi göster",
        "vi": "Hiển thị hộp chọn số lượng",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_variant_labels",
      "label": {
        "cs": "Zobrazit popisky variant",
        "da": "Vis variantlabels",
        "de": "Varianten-Etiketten anzeigen",
        "en": "Show variant labels",
        "es": "Mostrar etiquetas de variantes",
        "fi": "Näytä vaihtoehtoiset tarrat",
        "fr": "Afficher le nom des variantes",
        "hi": "वेरिएंट लेबल दिखाएं",
        "it": "Mostra etichette varianti",
        "ja": "バリエーションのラベルを表示する",
        "ko": "이형 상품 레이블 표시",
        "nb": "Vis variantetiketter",
        "nl": "Variantlabels weergeven",
        "pl": "Pokaż etykiety wariantów",
        "pt-BR": "Exibir etiquetas de variantes",
        "pt-PT": "Mostrar etiquetas de variantes",
        "sv": "Visa variantetiketter",
        "th": "แสดงป้ายกำกับตัวเลือกสินค้า",
        "tr": "Varyasyon etiketlerini göster",
        "vi": "Hiển thị nhãn mẫu mã",
        "zh-CN": "显示多属性标签",
        "zh-TW": "顯示子類選項標籤"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "cs": "Zobrazit dodavatele produktu",
        "da": "Vis produktleverandør",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fi": "Näytä tuotteen myyjä",
        "fr": "Afficher le distributeur du produit",
        "hi": "उत्पाद विक्रेता दिखाएं",
        "it": "Indica fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandør",
        "nl": "Productleverancier weergeven",
        "pl": "Pokaż dostawcę produktu",
        "pt-BR": "Exiba o fornecedor do produto",
        "pt-PT": "Mostrar fornecedor do produto",
        "sv": "Visa produktleverantör",
        "th": "แสดงผู้ขายสินค้า",
        "tr": "Ürün satıcısını göster",
        "vi": "Hiển thị nhà cung cấp sản phẩm",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "cs": "Zobrazit dynamické tlačítko pokladny",
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "hi": "डायनेमिक चेकआउट बटन दिखाएं",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische betaalknop weergeven",
        "pl": "Pokaż dynamiczny przycisk realizacji zakupu",
        "pt-BR": "Exibir botão de checkout dinâmico",
        "pt-PT": "Mostrar botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska betalningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "tr": "Dinamik ödeme düğmesini göster",
        "vi": "Hiển thị nút thanh toán động",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "cs": "Každý zákazník uvidí platební metodu, kterou ze všech metod dostupných v obchodě (například PayPal nebo Apple Pay) nejvíce preferuje. [Další informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "hi": "प्रत्येक ग्राहक आपके स्टोर पर उपलब्ध अपनी पसंदीदा भुगतान की विधि देखेंगे जैसे PayPal या Apple Pay. [अधिक जानें](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳細情報](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pl": "Każdy klient zobaczy swoją preferowaną metodę płatności wśród metod dostępnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz się więcej ](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "tr": "Her müşteri, mağazanız sunulanlar arasından tercih ettikleri ödeme yöntemini görür (ör. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "vi": "Mỗi khách hàng sẽ thấy phương thức thanh toán ưu tiên của họ trong những phương thức thanh toán được hỗ trợ tại cửa hàng như PayPal hoặc Apple Pay. [Tìm hiểu thêm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "cs": "Zobrazit tlačítka pro sdílení na sociálních sítích",
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "hi": "सोशल शेयरिंग बटन दिखाएं",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor delen via social media weergeven",
        "pl": "Pokaż przyciski udostępniania w mediach społecznościowych",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmelerini göster",
        "vi": "Hiển thị nút chia sẻ qua mạng xã hội",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "info": {
        "cs": "Nezapomeňte povolit sdílení na sociálních sítích v obecném nastavení.",
        "da": "Sørg for, at du har aktiveret deling på sociale medier under Generelle indstillinger",
        "de": "Vergewissere dich, dass du in den allgemeinen Einstellungen das Teilen in sozialen Netzwerken aktiviert hast",
        "en": "Make sure you have enabled social sharing in general settings",
        "es": "Asegúrate de haber habilitado la opción para compartir en redes sociales en la configuración general.",
        "fi": "Varmista, että olet ottanut sosiaalisen median jakamisen käyttöön yleisissä asetuksissa",
        "fr": "Assurez-vous d'avoir activé le partage social dans les paramètres généraux",
        "hi": "सुनिश्चित करें कि आपने सामान्य सेटिंग में सोशल शेयरिंग सक्षम किया है",
        "it": "Assicurati di aver abilitato la condivisione sui social nelle impostazioni generali",
        "ja": "一般設定でソーシャルメディアでの共有を有効にしていることを確認してください。",
        "ko": "일반 설정에서 소셜 공유가 되었는지 확인하십시오.",
        "nb": "Sørg for at du har aktivert sosial deling i generelle innstillinger",
        "nl": "Zorg ervoor dat je delen via social media hebt ingeschakeld in de algemene instellingen",
        "pl": "Upewnij się, że włączyłeś(-aś) udostępnianie w mediach społecznościowych w ustawieniach ogólnych",
        "pt-BR": "Verifique se você habilitou o compartilhamento em redes sociais nas configurações gerais",
        "pt-PT": "Certifique-se de que ativou a partilha nas redes sociais nas definições gerais",
        "sv": "Se till att du har aktiverat social delning i allmänna inställningar",
        "th": "ตรวจสอบให้แน่ใจว่าคุณได้เปิดใช้การแชร์บนโซเชียลในการตั้งค่าทั่วไป",
        "tr": "Genel ayarlardan sosyal paylaşımı etkinleştirdiğinizden emin olun",
        "vi": "Đảm bảo bạn đã bật chia sẻ qua mạng xã hội trong cài đặt chung",
        "zh-CN": "确保您在“通用”设置中启用了社交分享",
        "zh-TW": "請確定您已在一般設定內啟用社群分享功能"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "cs": "Multimédia",
        "da": "Medie",
        "de": "Medien",
        "en": "Media",
        "es": "Elementos multimedia",
        "fi": "Media",
        "fr": "Médias",
        "hi": "मीडिया",
        "it": "Media",
        "ja": "メディア",
        "ko": "미디어",
        "nb": "Medier",
        "nl": "Media",
        "pl": "Multimedia",
        "pt-BR": "Mídia",
        "pt-PT": "Multimédia",
        "sv": "Media",
        "th": "สื่อ",
        "tr": "Medya",
        "vi": "Phương tiện",
        "zh-CN": "媒体",
        "zh-TW": "媒體"
      },
      "info": {
        "cs": "Další informace o [typech multimédií](https://help.shopify.com/manual/products/product-media)",
        "da": "Få mere at vide om [media types](https://help.shopify.com/manual/products/product-media)",
        "de": "Mehr Informationen über [Medientypen ](https://help.shopify.com/manual/products/product-media)",
        "en": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)",
        "es": "Más información sobre [tipos de archivos multimedia](https://help.shopify.com/manual/products/product-media)",
        "fi": "Lue lisää [mediatyypeistä](https://help.shopify.com/manual/products/product-media)",
        "fr": "En savoir plus sur les [types de supports multimédia](https://help.shopify.com/manual/products/product-media)",
        "hi": "[मीडिया प्रकार](https://help.shopify.com/manual/products/product-media) के बारे में और जानें",
        "it": "Scopri di più sulle [tipologie di file multimediali](https://help.shopify.com/manual/products/product-media)",
        "ja": "[メディアのタイプ](https://help.shopify.com/manual/products/product-media) について詳しくはこちら",
        "ko": "[미디어 유형](https://help.shopify.com/manual/products/product-media)에 대해 자세히 알아보기",
        "nb": "Lær mer om [medietyper](https://help.shopify.com/manual/products/product-media)",
        "nl": "Meer informatie over [mediatypen](https://help.shopify.com/manual/products/product-media)",
        "pl": "Dowiedz się więcej o [typach multimediów](https://help.shopify.com/manual/products/product-media)",
        "pt-BR": "Saiba mais sobre [tipos de mídia](https://help.shopify.com/manual/products/product-media)",
        "pt-PT": "Saiba mais sobre [media types](https://help.shopify.com/manual/products/product-media)",
        "sv": "Läs mer om [mediatyper](https://help.shopify.com/manual/products/product-media)",
        "th": "ดูข้อมูลเพิ่มเติมเกี่ยวกับ [ประเภทของสื่อ](https://help.shopify.com/manual/products/product-media)",
        "tr": "[Medya türleri](https://help.shopify.com/manual/products/product-media) hakkında daha fazla bilgi edinin",
        "vi": "Tìm hiểu thêm về [loại phương tiện](https://help.shopify.com/manual/products/product-media)",
        "zh-CN": "详细了解[媒体类型](https://help.shopify.com/manual/products/product-media)",
        "zh-TW": "深入瞭解 [媒體類型](https://help.shopify.com/manual/products/product-media)"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": {
        "cs": "Povolit smyčky videa",
        "da": "Aktivér looping af videoer",
        "de": "Videoschleife aktivieren",
        "en": "Enable video looping",
        "es": "Habilitar la reproducción de video en bucle",
        "fi": "Ota käyttöön videosilmukka",
        "fr": "Activer le bouclage de la vidéo",
        "hi": "वीडियो लूपिंग सक्षम करें",
        "it": "Abilita la riproduzione in loop dei video",
        "ja": "ビデオのループを有効にする",
        "ko": "동영상 루프 활성화",
        "nb": "Aktiver løkkeavspilling av video",
        "nl": "Video-looping inschakelen",
        "pl": "Włącz zapętlanie filmu",
        "pt-BR": "Habilitar loop de vídeo",
        "pt-PT": "Ativar ciclo de vídeo",
        "sv": "Aktivera video-loopning",
        "th": "เปิดใช้การวนซ้ำวิดีโอ",
        "tr": "Video döngüsünü etkinleştir",
        "vi": "Bật vòng lặp video",
        "zh-CN": "启用视频循环",
        "zh-TW": "啟用影片循環功能"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_variant_media",
      "label": {
        "cs": "Skrýt varianty multimédií v galerii",
        "da": "Skjul variantmedie i galleriet",
        "de": "Medienvarianten in der Galerie ausblenden",
        "en": "Hide variant media in gallery",
        "es": "Ocultar elementos multimedia de variantes en la galería",
        "fi": "Piilota versioiden aineisto galleriassa",
        "fr": "Masquer les supports multimédia des variantes dans la galerie",
        "hi": "गैलरी में वेरिएंट मीडिया छिपाएं",
        "it": "Nascondi le varianti dei file nella galleria",
        "ja": "ギャラリーのバリエーションメディアを非表示にする",
        "ko": "갤러리의 이형 상품 미디어 숨기기",
        "nb": "Skjul variantmedier i galleriet",
        "nl": "Verschillende media verbergen in galerie",
        "pl": "Ukryj multimedia wariantów w galerii",
        "pt-BR": "Ocultar mídia variante na galeria",
        "pt-PT": "Ocultar multimédia variante na galeria",
        "sv": "Dölj variantmedia i galleriet",
        "th": "ซ่อนสื่อสำหรับตัวเลือกสินค้าในแกลเลอรี",
        "tr": "Galeride varyasyon medyasını gizle",
        "vi": "Ẩn phương tiện mẫu mã trong bộ sưu tập ảnh",
        "zh-CN": "在图库中隐藏多属性媒体",
        "zh-TW": "在圖庫中隱藏子類選項多媒體檔案"
      },
      "default": true
    }
  ]
}
{% endschema %}
