<section class="anniversary">
  <div class="anniversary__inner">
      <div class="anniversary__picture">
          <h1>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/2ndanniv_mv_pc.jpg?v=1669962171" media="(min-width: 768px)" />
              <!-- 〇〇px以上で表示したい画像 -->
              <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/2ndanniv_mv_sp.jpg?v=1669962172" alt="HOLICC SHOP2周年" /><!-- それ以外の時に表示する画像 -->
            </picture>
          </h1>
      </div>
      <p class="anniversary__text">
          HOLICC SHOPは2022年12月17日に<br class="br-sp">オープン2周年を迎えました。<br/>
          この2年間、たくさんの方に<br class="br-sp">HOLICCの世界観に共感いただき、<br class="br-sp">アイテムをご購入いただきました。<br/>
          また、世界観や商品を広めてくれる<br class="br-sp">アンバサダー、撮影スタッフ、<br>
          サポートスタッフなどにも支えられて<br class="br-sp">HOLICCというブランドは<br class="br-sp">成り立っております。<br/>
          今回はそのパートナー陣から<br class="br-sp">お祝いの言葉や<br>
          愛用しているアイテムへの思いを<br class="br-sp">もらいましたので、<br>
          ご紹介したいと思います。
      </p>
  </div>
</section>

<section class="person">
  <div class="person__inner">
      <ul class="person__items">
          <li class="person__item">
              <a href="#" class="js-modal-open person__block" data-target="modal01">
                  <div class="person__picture">
                      <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/osera_fix.png?v=1670335524" alt="人物の名前">
                  </div>
              </a>
              <!-- モーダル表示 -->
              <div id="modal01" class="modal js-modal">
                  <div class="md-modal-bg js-modal-close">
                  </div>
                  <div class="md-modal__content">
                      <div class="md-person__content">
                            <span  class="js-modal-close"></span>
                            <span  class="js-modal-close"></span>
                          <div class="md-person__wrap">
                              <div class="md-person__picture">
                                  <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/osera.png?v=1669962171" alt="人物の名前">
                              </div>
                              <div class="md-person__info">
                                  <p class="md-person__position">HafH共同創業者・HOLICCアンバサダー</p>
                                  <p class="md-person__name">大瀬良 亮</p>
                                  <div class="md-person__btnBox">
                                      <div href="#" class="md-person__btn">
                                          おすすめHOLICCアイテム
                                      </div>
                                  </div>
                                  <p class="md-person__number"><a href="/products/packbagplus-single">PackBag</a></p>
                              </div>
                          </div>
                          <p class="md-person__text">
                            暮らすように旅を続けている僕にとって、HOLICCのPackBagは必需品です。荷物が減るだけでなく、持ち運びにも便利。サウナに入ることも多いので、撥水性のある素材なのも重宝しているポイントです。ことあるごとにお薦めしているのですが、買ってくれた人もみんな満足してくれていて嬉しい限り。今後も長らく使い続けていきたい製品です。2周年、おめでとうございます！
                          </p>
                      </div>
                  </div>
              </div>
          </li>

          <li class="person__item">
              <a href="#" class="js-modal-open person__block" data-target="modal02">
                  <div class="person__picture">
                      <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/shiminao_fix_dd84a154-0441-48f0-bb62-e81ce800e402.png?v=1670578481" alt="人物の名前">
                  </div>
              </a>
              <!-- モーダル表示 -->
              <div id="modal02" class="modal js-modal">
                  <div class="md-modal-bg js-modal-close">
                  </div>
                  <div class="md-modal__content">
                      <div class="md-person__content">
                        <span  class="js-modal-close"></span>
                        <span  class="js-modal-close"></span>
                          <div class="md-person__wrap">
                              <div class="md-person__picture">
                                  <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/shiminao2.png?v=1670578481" alt="人物の名前">
                              </div>
                              <div class="md-person__info">
                                  <p class="md-person__position">TABIPPO代表取締役</p>
                                  <p class="md-person__name">清水直哉</p>
                                  <div class="md-person__btnBox">
                                      <div href="#" class="md-person__btn">
                                          おすすめHOLICCアイテム
                                      </div>
                                  </div>
                                  <p class="md-person__number"><a href="/products/packbagplus-single">PackBag+</a></p>
                              </div>
                          </div>
                          <p class="md-person__text">
                              
                              立ち上げ時から応援していた身としては、こうやってブランドがたくさんの人に愛されて、続いているのが嬉しい限りです。HOLICCは、ただただ機能的に優れているアイテムではなく、社会に生き方と働き方に対するコンセプトを広げるブランドです。僕も世界中、日本中を旅しながら働いていますが、これからもHOLICC商品と一緒にあたらしい価値をつくっていければと思っています。改めて、2周年おめでとうございます！
                          </p>
                      </div>
                  </div>
              </div>
          </li>

          <li class="person__item">
              <a href="#" class="js-modal-open person__block" data-target="modal03">
                  <div class="person__picture">
                      <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/tabata_fix.png?v=1670335524" alt="人物の名前">
                  </div>
              </a>
              <!-- モーダル表示 -->
              <div id="modal03" class="modal js-modal">
                  <div class="md-modal-bg js-modal-close">
                  </div>
                  <div class="md-modal__content">
                      <div class="md-person__content">
                        <span  class="js-modal-close"></span>
                        <span  class="js-modal-close"></span>
                          <div class="md-person__wrap">
                              <div class="md-person__picture">
                                  <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/tabata.png?v=1669962171" alt="人物の名前">
                              </div>
                              <div class="md-person__info">
                                  <p class="md-person__position">TABIPPOマーケター</p>
                                  <p class="md-person__name">多葉田 愛</p>
                                  <div class="md-person__btnBox">
                                      <div href="#" class="md-person__btn">
                                          おすすめHOLICCアイテム
                                      </div>
                                  </div>
                                  <p class="md-person__number"><a href="/products/packbagplus-single">PackBag+</a></p>
                              </div>
                          </div>
                          <p class="md-person__text">
                            1年の約半分は旅先で過ごしていますが、PackBag+のおかげでミニマルに移動することができるようになりました。Sサイズはショルダーにもなり、Lサイズは厚めのアウターも圧縮できて便利◎どんな季節やシーンにもマッチするので、ワーケーションや旅行に欠かせないアイテムです！
                          </p>
                      </div>
                  </div>
              </div>
          </li>

          <li class="person__item">
              <a href="#" class="js-modal-open person__block" data-target="modal04">
                  <div class="person__picture">
                      <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/nishii_fix.png?v=1670335524" alt="人物の名前">
                  </div>
              </a>
              <!-- モーダル表示 -->
              <div id="modal04" class="modal js-modal">
                  <div class="md-modal-bg js-modal-close">
                  </div>
                  <div class="md-modal__content">
                      <div class="md-person__content">
                        <span  class="js-modal-close"></span>
                        <span  class="js-modal-close"></span>
                          <div class="md-person__wrap">
                              <div class="md-person__picture">
                                  <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/nishii.png?v=1669962171" alt="人物の名前">
                              </div>
                              <div class="md-person__info">
                                  <p class="md-person__position">147か国旅人・HOLICC運営会社社長</p>
                                  <p class="md-person__name">西井 敏恭</p>
                                  <div class="md-person__btnBox">
                                      <div href="#" class="md-person__btn">
                                          おすすめHOLICCアイテム
                                      </div>
                                  </div>
                                  <p class="md-person__number"><a href="/products/one">One</a>、<a href="/products/work-to-sport2">work to sporT2</a></p>
                              </div>
                          </div>
                          <p class="md-person__text">
                            私は普段から旅行と仕事を同時にやっているのですが、その生活で必要になるものをリクエストし、フォーマル系トラベル系のブランドでは届かない領域を実現してもらってます！今もカタールでW杯を観戦しながらこの文章を書いているのですが、HOLICCアイテムをほぼ全て持ち込んでいます。特にOneは使い勝手が完璧。iPadはケースいらずだし、細かいポケットからいつでも好きなものを取り出せて本当に手放せません。2周年、おめでとう！
                          </p>
                      </div>
                  </div>
              </div>
          </li>

          <li class="person__item">
              <a href="#" class="js-modal-open person__block" data-target="modal05">
                  <div class="person__picture">
                      <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/norm_fix.png?v=1670335524" alt="人物の名前">
                  </div>
              </a>
              <!-- モーダル表示 -->
              <div id="modal05" class="modal js-modal">
                  <div class="md-modal-bg js-modal-close">
                  </div>
                  <div class="md-modal__content">
                      <div class="md-person__content">
                        <span  class="js-modal-close"></span>
                        <span  class="js-modal-close"></span>
                          <div class="md-person__wrap">
                              <div class="md-person__picture">
                                  <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/norm.png?v=1669962171" alt="人物の名前">
                              </div>
                              <div class="md-person__info">
                                  <p class="md-person__position">撮影モデル（普段はカウンセラー）</p>
                                  <p class="md-person__name">ノーム</p>
                                  <div class="md-person__btnBox">
                                      <div href="#" class="md-person__btn">
                                          おすすめHOLICCアイテム
                                      </div>
                                  </div>
                                  <p class="md-person__number"><a href="/products/work-to-sport-long-uneck">work to sporTロングUネック</a></p>
                              </div>
                          </div>
                          <p class="md-person__text">
                            Tポロとwork to sporTロングの撮影モデルをやりました。HOLICCさんのアイテムはテレワークライフで大活躍です。着心地が楽なのにラフ過ぎずそのままPCに座ってもビジネス衣装として成立しちゃいます。特にUネックロンTはオールシーズン使い回せちゃうのでオススメです。
                          </p>
                      </div>
                  </div>
              </div>
          </li>

          <li class="person__item">
              <a href="#" class="js-modal-open person__block" data-target="modal06">
                  <div class="person__picture">
                      <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/hatakeyama_fix.png?v=1670335524" alt="人物の名前">
                  </div>
              </a>
              <!-- モーダル表示 -->
              <div id="modal06" class="modal js-modal">
                  <div class="md-modal-bg js-modal-close">
                  </div>
                  <div class="md-modal__content">
                      <div class="md-person__content">
                        <span  class="js-modal-close"></span>
                        <span  class="js-modal-close"></span>
                          <div class="md-person__wrap">
                              <div class="md-person__picture">
                                  <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/moe.png?v=1669962171" alt="人物の名前">
                              </div>
                              <div class="md-person__info">
                                  <p class="md-person__position">イラストレーター</p>
                                  <p class="md-person__name">ハタケヤマ モエ</p>
                                  <div class="md-person__btnBox">
                                      <div href="#" class="md-person__btn">
                                          おすすめHOLICCアイテム
                                      </div>
                                  </div>
                                  <p class="md-person__number"><a href="/products/packbagplus-single">PackBag+Lサイズ</a></p>
                              </div>
                          </div>
                          <p class="md-person__text">
                            2周年おめでとうございます！
                            コラボデザインやインタビューまでさせていただいたこと、懐かしく思います。
                            PackBag+のLサイズをリュックスタイルにして愛用中です。iPadや資料などを持ち運び、外で作業することが多いのですが薄くて軽く、無駄がなく、かつガジェット類も入るので重宝しております。何も考えずガサっと入れられる手軽さが大好きです（笑）
                            これからも素敵な商品を楽しみにしております！
                          </p>
                      </div>
                  </div>
              </div>
          </li>

          <li class="person__item">
              <a href="#" class="js-modal-open person__block" data-target="modal07">
                  <div class="person__picture">
                      <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/hatano_fix.png?v=1670335524" alt="人物の名前">
                  </div>
              </a>
              <!-- モーダル表示 -->
              <div id="modal07" class="modal js-modal">
                  <div class="md-modal-bg js-modal-close">
                  </div>
                  <div class="md-modal__content">
                      <div class="md-person__content">
                        <span  class="js-modal-close"></span>
                        <span  class="js-modal-close"></span>
                          <div class="md-person__wrap">
                              <div class="md-person__picture">
                                  <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/hatano_2.png?v=1669962171" alt="人物の名前">
                              </div>
                              <div class="md-person__info">
                                  <p class="md-person__position">プロスラックラインインストラクター・HOLICCアンバサダー</p>
                                  <p class="md-person__name">波多野 雄哉</p>
                                  <div class="md-person__btnBox">
                                      <div href="#" class="md-person__btn">
                                          おすすめHOLICCアイテム
                                      </div>
                                  </div>
                                  <p class="md-person__number"><a href="/products/work-to-sport2">work to sporT 2</a></p>
                              </div>
                          </div>
                          <p class="md-person__text">
                            私は、スラックラインのインストラクターとして、全国各地でスラックラインの普及活動をしています。そのため、移動や打ち合わせではフォーマル感を、活動や練習ではスポーツ性能を求めることから、ほぼ毎日work to sporTシリーズを着用しています。型崩れもなく、速乾性や他の機能面など、Tシャツヘビーユーザーにはおすすめです。
                          </p>
                      </div>
                  </div>
              </div>
          </li>

          <li class="person__item">
              <a href="#" class="js-modal-open person__block" data-target="modal08">
                  <div class="person__picture">
                      <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/fujita_fix.png?v=1670335524" alt="人物の名前">
                  </div>
              </a>
              <!-- モーダル表示 -->
              <div id="modal08" class="modal js-modal">
                  <div class="md-modal-bg js-modal-close">
                  </div>
                  <div class="md-modal__content">
                      <div class="md-person__content">
                        <span  class="js-modal-close"></span>
                        <span  class="js-modal-close"></span>
                          <div class="md-person__wrap">
                              <div class="md-person__picture">
                                  <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/fujita.png?v=1669962171" alt="人物の名前">
                              </div>
                              <div class="md-person__info">
                                  <p class="md-person__position">元なでしこリーガー・HOLICCアンバサダー</p>
                                  <p class="md-person__name">藤田 のぞみ</p>
                                  <div class="md-person__btnBox">
                                      <div href="#" class="md-person__btn">
                                          おすすめHOLICCアイテム
                                      </div>
                                  </div>
                                  <p class="md-person__number"><a href="/products/packbagplus-single">PackBag</a></p>
                              </div>
                          </div>
                          <p class="md-person__text">
                            HOLICCの2周年を一緒にお祝いできて光栄です！旅のワクワクを倍増させてくれるHOLICCのアイテムは最高の旅仲間です♡一度使うと虜になってしまうHOLICC...より多くの方に手にとって頂きたいです！今後も更なるご活躍をお祈りいたします！！
                          </p>
                      </div>
                  </div>
              </div>
          </li>

          <li class="person__item">
              <a href="#" class="js-modal-open person__block" data-target="modal09">
                  <div class="person__picture">
                      <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/murata_fix.png?v=1670335524" alt="人物の名前">
                  </div>
              </a>
              <!-- モーダル表示 -->
              <div id="modal09" class="modal js-modal">
                  <div class="md-modal-bg js-modal-close">
                  </div>
                  <div class="md-modal__content">
                      <div class="md-person__content">
                        <span  class="js-modal-close"></span>
                        <span  class="js-modal-close"></span>
                          <div class="md-person__wrap">
                              <div class="md-person__picture">
                                  <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/murata.png?v=1669962171" alt="人物の名前">
                              </div>
                              <div class="md-person__info">
                                  <p class="md-person__position">写真家・映像クリエイター</p>
                                  <p class="md-person__name">村田 雄平</p>
                                  <div class="md-person__btnBox">
                                      <div href="#" class="md-person__btn">
                                          おすすめHOLICCアイテム
                                      </div>
                                  </div>
                                  <p class="md-person__number"><a href="/products/one">One</a>、<a href="/products/packbagplus-single">PackBag</a></p>
                              </div>
                          </div>
                          <p class="md-person__text">
                            出張が多い自分にとってHOLICCさんのアイテムはかかせないものとなっています。圧縮機能、防水、できるだけ荷物を少なくスッキリしたいという私の望みを叶えてくれます。ディテール含め細部にも様々なこだわりを感じます。皆さんにとっても良き相棒となってくれるアイテム達だと思います。
                          </p>
                      </div>
                  </div>
              </div>
          </li>


      </ul>

      <p class="anniversary__text">
        いかがでしたでしょうか。<br>
        オススメされていた商品を含め、<br class="br-sp">以下が現在HOLICC SHOPで<br class="br-sp">購入できる全商品です。
      </p>

  </div>
</section>

{% comment %}
HOLICCの商品紹介
{% endcomment %}
<section class="holicc-product">
    <div class="update_block_holder">
        {% assign uniqueProductIdsString = cart.items | map: 'product_id'| uniq | join: ', ' %}
        {% for product in collections["holicc-items"].products %}
        <div class="update_block"><a href="{{ product.url }}" class="update_block_image image-link"><img class="add_image" src="{{ product.metafields.my_fields._main_image | img_url: "medium" }}" alt="PackBag" /></a>
        <div class="update_block_text">
            <p class="update_block_sub_title">{{ product.metafields.descriptors.subtitle }}</p>
            <p class="update_block_main_title">{{ product.title }}</p>
            <span class="update_block_prise"><span>{{ product.price  | money }}</span><i>（税込）</i></span> <a class="btn_update_push" href="{{ product.url }}">詳しくはこちら</a>
        </div>
        </div>
        {% endfor %}
    </div>

  <p class="anniversary__text">
    ここまでご覧いただきまして<br class="br-sp">ありがとうございます！<br>
    まだまだHOLICC SHOPのサービス面は<br class="br-sp">行き届かない点が<br class="br-sp">多々あるかと思います。<br>
    真摯に少しずつでも<br class="br-sp">良くしていきたいと思っています。<br>
    お気づきの点などございましたら<br class="br-sp">ぜひお声がけください。
  </p>
  <p class="anniversary__text">
    これからもこの"旅して働く"という<br class="br-sp">働き方・生き方を、<br>
    アイテムを通して広めるべく<br class="br-sp">邁進していこうと思います。<br>
    3年目になる私たちの旅を<br class="br-sp">ぜひ応援してください！
  </p>

</section>


<div class="anniversary__text">＼公式アカウントをフォロー・登録／</div>
<ul class="sns-sharing">
  <li class="sns-sharing__icon">
    <a target="_blank" href="https://www.instagram.com/holicc_jp/?hl=ja" title="HOLICC SHOP on Instagram" tabindex="-1">
      {% render 'icon-instagram' %}
      <span class="icon__fallback-text">Instagram</span>
    </a>
  </li>

  <li class="sns-sharing__icon">
    <a target="_blank" href="https://twitter.com/holicc_jp" title="HOLICC SHOP on Twitter" tabindex="-1">
      {% render 'icon-twitter' %}
      <span class="icon__fallback-text">Twitter</span>
    </a>
  </li>

  <li class="sns-sharing__icon">
  <a target="_blank" href="https://line.me/ti/p/%40027gciii" title="HOLICC SHOP on Line" tabindex="-1">
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon" viewBox="0 0 24 24"><path d="M12 .5C5.385
    .5 0 4.898 0 10.303c0 4.841 4.27 8.897 10.035 9.668.391.083.923.26 1.058.594.12.303.079.771.038 1.087l-.164 1.026c-.045.303-.24 1.193 1.049.649 1.291-.542 6.916-4.104 9.436-7.019 1.724-1.9 2.548-3.847 2.548-6.005C24 4.898 18.615.5 12 .5zM7.303 13.517H4.917a.636.636 0 01-.63-.633V8.083c0-.347.285-.634.63-.634.348 0 .63.287.63.634v4.167h1.756a.634.634 0 010 1.267zm2.466-.633a.634.634 0 01-.631.633.633.633 0 01-.627-.633V8.083c0-.347.282-.634.63-.634.346 0 .628.287.628.634zm5.741 0a.633.633 0 01-1.141.379l-2.443-3.338v2.958a.632.632 0 01-.631.633.632.632 0 01-.626-.633v-4.8a.63.63 0 01.624-.632c.195 0 .375.105.495.256l2.462 3.351V8.083c0-.347.282-.634.63-.634.345 0 .63.287.63.634zm3.855-3.035a.634.634 0 010 1.269H17.61v1.132h1.755a.633.633 0 010 1.267h-2.386a.633.633 0 01-.627-.633V8.083c0-.347.282-.634.63-.634h2.386c.346 0 .627.287.627.634a.63.63 0 01-.63.634H17.61v1.132z" fill="#fff"/></svg>
    <span class="icon__fallback-text">Line</span>
  </a>
  </li>
</ul>


<section class="holicc-product">
  <p class="anniversary__text">
    Special Thanks<br>
    HafH共同創業者・HOLICCアンバサダー 大瀬良 亮<br>
    TABIPPO代表取締役 清水 直哉<br>
    TABIPPOマーケター 多葉田 愛<br>
    147か国旅人・HOLICC運営会社社長 西井 敏恭<br>
    撮影モデル（普段はカウンセラー） ノーム<br>
    イラストレーター ハタケヤマ モエ<br>
    プロスラックラインインストラクター・HOLICCアンバサダー 波多野 雄哉<br>
    元なでしこリーガー・HOLICCアンバサダー 藤田 のぞみ<br>
    写真家・映像クリエイター 村田 雄平
  </p>
</section>


<!-- reset.css -->
<style>

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -webkit-tap-highlight-color: transparent;
    /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
    margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: inherit;
    /* 2 */
}

address {
    font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: inherit;
    /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
    vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
    -webkit-appearance: none;
    /* 1 */
    appearance: none;
    vertical-align: middle;
    color: inherit;
    font: inherit;
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: inherit;
    text-transform: inherit;
    /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
    -webkit-appearance: checkbox;
    appearance: checkbox;
}

[type="radio"] {
    -webkit-appearance: radio;
    appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
    cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
    outline: auto;
}

select:disabled {
    opacity: inherit;
}

/**
 * Remove padding
 */

option {
    padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
    margin: 0;
    padding: 0;
    min-width: 0;
}

legend {
    padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
    outline-offset: -2px;
    /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
    cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
    outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
    border-color: inherit;
    /* 1 */
    border-collapse: collapse;
}

caption {
    text-align: left;
}

td,
th {
    vertical-align: top;
    padding: 0;
}

th {
    text-align: left;
    font-weight: bold;
}
</style>

<!-- css -->
<style>
.anniversary__inner {
    max-width: 960px;
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.anniversary__picture {
    max-width: 960px;
    width: 100%;
}

.anniversary__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.anniversary__text {
    max-width: 748px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    line-height: 1.5;
}

.person__inner {
    max-width: 748px;
    width: 100%;
    margin: auto;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.person__items {
    display: flex;
    flex-wrap: wrap;
}

.person__item {
    width: calc(33.33333% - 30px * 2 / 3);
    margin-right: 30px;
}

.person__item:nth-of-type(3n+2){
  padding-top: 40px;
}
.person__item:nth-of-type(3n){
  padding-top: 80px;
}


@media screen and (min-width:768px) {
  .person__item:nth-child(3n) {
    margin-right: 0px;
  }

  .person__item:nth-child(n+4) {
    margin-top: 50px;
  }
}
@media screen and (max-width:767px) {
  .person__item:nth-of-type(2n+1){
    padding-top: 0;
  }
  .person__item:nth-of-type(2n){
    padding-top: 40px;
  }
}



.person__block {
    display: block;
}

.person__picture {
    width: 100%;
    position: relative;
}

.person__picture::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.person__picture img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person__textBox {
    margin-top: 20px;
}

.person__position,
.person__name {
    font-size: 16px;
}

.person__name {
    margin-top: 5px;
    font-weight: 600;
}


/* モーダルコンテンツ内CSSプロパティ */

/* モーダル全体(背景＋本体) */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

/* モーダル背景 */
.md-modal-bg {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.md-person__wrap {
    display: flex;
    align-items: center;
}

.md-person__picture {
    max-width: 200px;
    position: relative;
    width: 100%;
}

.md-person__picture:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.md-person__picture img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.md-person__info {
    padding-left: 20px;
    width: 60%;
}

.md-person__position {
    font-weight: 500;
}

.md-person__name {
    font-weight: 6
    00;
    font-size: 20px;
}

.md-person__text {
    margin-top: 20px;
    color: gray;
}

.md-person__btnBox {
    margin-top: 20px;
}

.md-person__btn {
    padding: 10px;
    color: #fff;
    background-color: #707070;
    border-radius: 5px;
    font-size: 13px;
}


.md-person__number {
    margin-top: 10px;
    color: #707070;
    font-weight: 500;
}


/* モーダルCSSプロパティ */

body.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
}

.md-modal__content {
    background-color: #fff;
    max-width: 520px;
    width: 100%;
    margin: auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 30px 30px;
    border-radius: 10px;
    border: 2px solid #707070;
}
.md-person__content{
    position: relative;
}
.md-person__content span{
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: rgb(67, 67, 67);
    display: block;
    top: -5px;
    right: -15px;
    cursor: pointer;
}
.md-person__content span:nth-child(1){
    transform: rotate(45deg);
}

.md-person__content span:nth-child(2){
    transform: rotate(-45deg);
}

.holicc-product {
    max-width: 960px;
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}


@keyframes modalopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.js-modalClose {
    font-size: 2rem;
}

.js-modalClose:hover {
    cursor: pointer;
}

/* メディアクエリ max-width:768px */

@media screen and (max-width:767px) {
    .md-modal__content {
        max-width: 520px;
        width: 90%;
        padding: 20px;
    }

    .md-person__picture {
        max-width: 200px;
        position: relative;
        width: 40%;
    }

    .md-person__position {
        font-size: 12px;
    }

    .md-person__name {
        font-size: 16px;
    }

    .md-person__text {
        margin-top: 15px;
        font-size: 14px;
    }

    .md-person__btnBox {
        margin-top: 10px;
    }

    .md-person__btn {
        color: #fff;
        background-color: #707070;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        display: inline;
    }

    .md-person__number {
        margin-top: 10px;
        color: #707070;
        font-weight: 500;
    }

    .person__inner {
        max-width: 540px;
    }

    .person__item {
        width: calc(50% - 20px * 1 / 2);
        margin-right: 20px;
    }

    .person__item:nth-child(2n) {
        margin-right: 0px;
    }

    .person__item:nth-child(n+3) {
        margin-top: 30px;
    }


}

/* SNSシェアボタン */
.sns-sharing{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.sns-sharing__icon .icon{
  fill: #43434e;
  width: 30px;
  height: 30px
}


@media screen and (min-width:768px) {
.br-sp {
  display: none; 
}
}
</style>

<script>
// モーダルウィンドウを開ける
$('.js-modal-open').on('click', function () {
    var target = $(this).data('target');
    var modal = document.getElementById(target);
    scrollPosition = $(window).scrollTop();

    $('body').addClass('fixed').css({
        'top': -scrollPosition
    });
    $(modal).fadeIn();
    return false;
});

// モーダルウィンドウを閉じる
$('.js-modal-close').on('click', function () {
    $('body').removeClass('fixed');
    window.scrollTo(0, scrollPosition);
    $('.js-modal').fadeOut();
    return false;
});
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
